<div class="card">
    <form action="/admin/lista" method="POST">
        <div class="card-body">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" placeholder="Nome" class="form-control">
            <label for="slug">Slug:</label>
            <input type="text" name="slug" id="slug" placeholder="Slug" class="form-control">
            <button type="submit" class="btn btn-success mt-2">Adicionar</button>
        </div>
    </form>
</div>
